<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>{$setting['stitle']|@}</title>  
	<meta name="keywords" content="{$setting['skeywords']|@}">
	<meta name="description" content="{$setting['sdescription']|@}">
	{load href="./public/static/css/pintuer.css,./public/static/css/admin.css,./public/static/js/jquery.js,./public/static/js/pintuer.js" /}
</head>
<body>
<div id="top-alert" class="fixed alert alert-error" style="display: none;">
	<button class="close fixed" style="margin-top: 4px;"></button>
	<div class="alert-content">警告内容</div>
</div>
