<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>  
	{load href="/public/static/css/pintuer.css,/public/static/css/admin.css,/public/static/js/jquery.js" /}
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="/public/static/images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />后台管理中心</h1>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="__ROOT__/" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a href="{:url('Cpanel/map')}" target="right" class="button button-little bg-gray"><span class="icon-wrench"></span> 后台地图</a> &nbsp;&nbsp;<a href="{:url('Cpanel/cache')}" target="right" class="button button-little bg-blue"><span class="icon-wrench"></span> 清除缓存</a> &nbsp;&nbsp;<a class="button button-little bg-red" href="{:url('Login/logout')}"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  {volist name="leftmenu" id="vo"}
	{eq name="vo.pid" value="0"}
	<h2><span class="icon-{$vo.icon} padding-right"></span>{$vo.name}</h2>
	<ul>
	{volist name="leftmenu" id="sub"}
		{eq name="sub.pid" value="$vo.id"}
		<li><a href="{:ROOTPATH}{notdefined name='BIND_MODULE'}/{:request()->module()}{/notdefined}{$sub.link}" target="right"><span class="icon-caret-right padding-right"></span>{$sub.name}</a></li>
		{/eq}
	{/volist}
	</ul>
	{/eq}
  {/volist}
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(".leftnav h2").removeClass("on");
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
  $("#refresh").click(function(){
	document.getElementById('ifrmid').contentWindow.location.reload(true);
  })
});
</script>
<ul class="bread">
  <li><a href="{:url('Cpanel/intro')}" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
  <li class="float-right"><a href="javascript:;" id="refresh" title="刷新窗口页面"><i class="icon-refresh text-big"></i></a></li>
  <!-- <li><b>当前语言：</b><span style="color:red;">中文</php></span> -->
  <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;切换语言：<a href="##">中文</a> &nbsp;&nbsp;<a href="##">英文</a> </li> -->
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="{:url('Cpanel/intro')}" id="ifrmid" name="right" width="100%" height="100%"></iframe>
</div>
</body>
</html>