{include file="public:head" /}
<div class="panel admin-panel">
	<div class="panel-head"><strong class="text-blue">界面设置</strong></div>
	<div class="body-content">
		<div class="tab border-main">
			<div class="tab-head">
				<ul class="tab-nav">
					<li class="active"><a href="#ui1">管理</a> </li>
					<li><a href="#ui2">导入</a> </li>
				</ul>
			</div>
			<div class="tab-body">
				<div class="tab-panel active" id="ui1">
					<form method="post" class="form-x">
						<div class="form-group">
							<div class="label">
								<strong class="text-blue">管理</strong>
							</div>
						</div>
						<div class="form-group margin-large-top">
							<div class="x12">
								<div class="label">
								  <label></label>
								</div>
								<div class="field">
								  <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-panel" id="ui2">
					<form method="post" class="form-x">
						<div class="form-group">
							<div class="label">
								<strong class="text-blue">导入</strong>
							</div>
						</div>
						<div class="form-group margin-large-top">
							<div class="x12">
								<div class="label">
								  <label></label>
								</div>
								<div class="field">
								  <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="public:footer" /}