{include file="public:head" /}
<div class="panel admin-panel">
	<div class="panel-head"><strong>模板编辑</strong> {$path}</div>
	<div class="body-content">
		<div class="panel-body">
			<a href="?path={$prev}" class="text-blue"><img src="/public/static/floderIcon/last.gif" width="20">返回上级</a></div>
		</div>
		<form method="post" action="{:url('Cpanel/tpl_edit')}" class="form-x">
			<textarea class="input" name="content" style="width:100%;min-height:400px;border: 1px solid #cdcbcb">
				{$body|htmlspecialchars}
			</textarea>
			<input name="path" value="{$path}" id="body" type="hidden">
			<div class="form-group">
				<div class="label">
				  <label></label>
				</div>
				<div class="field">
				  <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
				</div>
			  </div>
		</form>
	</div>
</div>
{include file="public:footer" /}
