{include file="public:head" /}
<div class="panel admin-panel">
	<div class="panel-head"><strong class="text-blue">界面设置</strong></div>
	<div class="body-content">
		<div class="tab border-main">
			<div class="tab-head">
				<ul class="tab-nav">
					<li class="active"><a href="#ui1">全局</a> </li>
					<li><a href="#ui2">网站首页</a> </li>
					<li><a href="#ui3">主题列表页</a> </li>
					<li><a href="#ui4">文章内容页</a> </li>
					<li><a href="#ui5">用户信息</a> </li>
					<li><a href="#ui6">提示信息</a> </li>
					<li><a href="#ui7">弹出信息</a> </li>
				</ul>
			</div>
			<div class="tab-body">
				<div class="tab-panel active" id="ui1">
					<form method="post" class="form-x">
						<div class="form-group">
							<div class="label">
								<strong class="text-blue">全局</strong>
							</div>
						</div>
						<div class="form-group margin-large-top">
							<div class="x12">
								<div class="label">
								  <label></label>
								</div>
								<div class="field">
								  <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-panel" id="ui2">
					<form method="post" class="form-x">
						<div class="form-group">
							<div class="label">
								<strong class="text-blue">网站首页</strong>
							</div>
						</div>
						<div class="form-group margin-large-top">
							<div class="x12">
								<div class="label">
								  <label></label>
								</div>
								<div class="field">
								  <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-panel" id="ui3">
					<form method="post" class="form-x">
						<div class="form-group">
							<div class="label">
								<strong class="text-blue">主题列表页</strong>
							</div>
						</div>
						<div class="form-group margin-large-top">
							<div class="x12">
								<div class="label">
								  <label></label>
								</div>
								<div class="field">
								  <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-panel" id="ui4">
					<form method="post" class="form-x">
						<div class="form-group">
							<div class="label">
								<strong class="text-blue">文章内容页</strong>
							</div>
						</div>
						<div class="form-group margin-large-top">
							<div class="x12">
								<div class="label">
								  <label></label>
								</div>
								<div class="field">
								  <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-panel" id="ui5">
					<form method="post" class="form-x">
						<div class="form-group">
							<div class="label">
								<strong class="text-blue">用户信息</strong>
							</div>
						</div>
						<div class="form-group margin-large-top">
							<div class="x12">
								<div class="label">
								  <label></label>
								</div>
								<div class="field">
								  <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-panel" id="ui6">
					<form method="post" class="form-x">
						<div class="form-group">
							<div class="label">
								<strong class="text-blue">提示信息</strong>
							</div>
						</div>
						<div class="form-group margin-large-top">
							<div class="x12">
								<div class="label">
								  <label></label>
								</div>
								<div class="field">
								  <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-panel" id="ui7">
					<form method="post" class="form-x">
						<div class="form-group">
							<div class="label">
								<strong class="text-blue">弹出信息</strong>
							</div>
						</div>
						<div class="form-group margin-large-top">
							<div class="x12">
								<div class="label">
								  <label></label>
								</div>
								<div class="field">
								  <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="public:footer" /}