{include file="public:head" /}
<div class="panel admin-panel">
	<div class="panel-head"><strong class="text-blue">资料统计</strong></div>
	<div class="body-content">
		<form method="post" class="form-x">
			<div class="form-group bg-blue-light">
				<div class="label">
					<strong class="text-blue">技巧提示</strong>
				</div>
			</div>
			<div class="form-group">
				<div class="field">
					<p>统计的用户资料与用户栏目设置有关：只有表单元素为下拉框或单选框的会做统计。</p>
					<p>如果统计项可能有改变，请先更新统计项，再更新数据</p>
				</div>
			</div>
			<div class="form-group bg-blue-light">
				<div class="label">
					<strong class="text-blue">统计资料项</strong>
				</div>
			</div>
			<div class="form-group">
				<div class="field">
					<ul class="list-inline text-big">
						<li><a href="">用户组</a></li>
						<li><a href="">性别</a></li>
						<li><a href="">出生年份</a></li>
						<li><a href="">出生月份</a></li>
						<li><a href="">生日</a></li>
						<li><a href="">星座</a></li>
						<li><a href="">生肖</a></li>
						<li><a href="">证件类型</a></li>
						<li><a href="">出生省份</a></li>
						<li><a href="">出生地</a></li>
						<li><a href="">出生县</a></li>
						<li><a href="">出生小区</a></li>
						<li><a href="">居住省份</a></li>
						<li><a href="">居住地</a></li>
						<li><a href="">居住县</a></li>
						<li><a href="">居住小区</a></li>
						<li><a href="">学历</a></li>
						<li><a href="">血型</a></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
</div>
{include file="public:footer" /}